.App {
   max-height: 100vh;
}

.video {
   position: fixed;
   width: 100%;
   left: 50%;
   right: 50%;
   height: 100%;
   object-fit: cover;
   transform: translate(-50%, -0%);
   z-index: -1;

}


/* MEDIA */
 @media  (max-width: 500px){
  
} 



