.statistic_page {
   min-height: 86vh;
}

/* rus stat */
.rus_stat_card {
   background: rgba(248, 246, 246, 0.2) !important;
   border-radius: 16px !important;
   box-shadow: 0 4px 30px rgba(250, 247, 247, 0.1) !important;
   backdrop-filter: blur(5px) !important;
   -webkit-backdrop-filter: blur(5px) !important;
   border: 1px solid rgba(252, 251, 251, 0.3) !important;
   height: 85vh;
   color: wheat !important;
   font-family: 'Mitr', sans-serif;
   margin-top: 10px;
}

.title_rus_stat {
   font-family: 'Mitr', sans-serif;
   text-align: center;
}

.rus_stat {
   margin-bottom: 2px !important;
}


/* cov stat */
.cov_stat_card {
   background: rgba(248, 246, 246, 0.2) !important;
   border-radius: 16px !important;
   box-shadow: 0 4px 30px rgba(250, 247, 247, 0.1) !important;
   backdrop-filter: blur(5px) !important;
   -webkit-backdrop-filter: blur(5px) !important;
   border: 1px solid rgba(252, 251, 251, 0.3) !important;
   height: 85vh;
   color: wheat !important;
}

.title_cov_stat {
   font-family: 'Bebas Neue', cursive !important;
   text-align: center;
}

.cov_stat {
   margin-bottom: 2px !important;
}

.pie {
   font-weight: 900;
   
}

/* MEDIA */
@media (max-width: 500px) {
   .rus_stat_card {
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: 5px;
      margin-right: 5px;
      height: fit-content;
   }

  
   .cov_stat_card {
      margin-top: 3%;
      margin-bottom: 3%;
      margin-left: 5px;
      margin-right: 5px;
      height: fit-content;
   }


}